<!DOCTYPE html>
<html>
<head>
  <title>Trasy</title>
   {% block extra_css %}{% endblock %}
</head>
<body>
  <nav>
    {% if user.is_authenticated %}
      <a href="{% url 'dashboard' %}">Moje trasy</a> |
      <a href="{% url 'create_route' %}">Nowa trasa</a> |
      <a href="{% url 'gameboard_list' %}">Moje plansze</a> |
      <a href="{% url 'gameboard_create' %}">Nowa plansza</a> |
      <form action="{% url 'logout' %}" method="post" style="display:inline;">
        {% csrf_token %}
        <button type="submit" style="background:none; border:none; color:blue; cursor:pointer; padding:0;">
          Wyloguj
        </button>
      </form>
    {% else %}
      <a href="{% url 'login' %}">Zaloguj</a> |
      <a href="{% url 'register' %}">Zarejestruj</a>
    {% endif %}
  </nav>
  <hr>
  {% block content %}{% endblock %}
</body>
</html>
