body {
  background-color: lightblue !important;
}

.grid-cell {
  width: 40px;
  height: 40px;
  border: 1px solid #ccc;
  box-shadow: inset 0 0 2px #aaa;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: white;
  transition: background-color 0.2s;
  cursor: pointer;
}
.dot {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: black;
}

.grid-cell:hover {
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.2);
}
